.login-view {
    background-image: url('background2.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
}
/* Targeting the submit button within the vaadin-login-form */
.login-view vaadin-login-form vaadin-button[theme~="primary"] {
    background-color: black !important;
    color: white !important;
}
/* Targeting the header of the text field within the vaadin-login-form-wrapper */
.login-view vaadin-login-form-wrapper vaadin-text-field .label {
    color: black !important;
}

/* Targeting the header of the password field within the vaadin-login-form-wrapper */
.login-view vaadin-login-form-wrapper vaadin-password-field .label {
    color: black !important;
}

.register-view {
    background-image: url('background2.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
}
.roles-management-view {
    background-image: url('background2.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
}
.main-view {
    background-image: url('background2.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
}

.center-layout {
    justify-content: center;
    flex-grow: 8;
}

.right-layout {
    justify-content: flex-end;
    /*flex-grow: 1;*/
}

.left-layout {
    justify-content: flex-start;
    flex-grow: 1;
}

.round-button {
    border-radius: 50%;  /* Makes the button round */
    width: 180px;        /* Sets the width of the button */
    height: 180px;       /* Sets the height of the button */
}

.books-button {
     /* Green */

    mask-image: url('books.png');
}